<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628637383920-o3t5ni9p1525oriqiqe60gqb7n8tlq9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628637383920-o3t5ni9p1525oriqiqe60gqb7n8tlq9g</string>
	<key>API_KEY</key>
	<string>AIzaSyCcswA6Xy-LJve28eYkEckcLyyKZq9due4</string>
	<key>GCM_SENDER_ID</key>
	<string>628637383920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joshcolley.debateCircle</string>
	<key>PROJECT_ID</key>
	<string>debate-circle-adc5e</string>
	<key>STORAGE_BUCKET</key>
	<string>debate-circle-adc5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628637383920:ios:0350d323d23978f6415635</string>
	<key>DATABASE_URL</key>
	<string>https://debate-circle-adc5e.firebaseio.com</string>
</dict>
</plist>